@CHARSET "UTF-8";

table tr {
	height: 35px;
}

.z {
	text-align: center;
	font-size: 14px;
}

.ths th {
	border: 1px solid #D1D1D1;
	background-color: #E7F1FE;
	overflow: hidden;
	height: 35px;
	text-overflow: ellipsis;
	white-space: nowrap;
	align:center;
}

.ths_a td {
	border: 1px solid #D1D1D1;
	background-color: #F7F8F9;
	word-wrap: break-word;
	align:center;
}

a {
	color: #31a5e7;
	text-decoration: none;
}

.cx {
	width: 150px;
	height: 26px;
}

}