<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssm.farsh.dao.OrderDao">
	<select id="queryAllOrderByPage" resultType="Order">
        SELECT * FROM ordery where Ostate = #{ostate}  group by Onum limit #{startPos},#{pageSize} 
    </select>
   <select id="getOrderCount" resultType="long">
    	select count(*) from ordery where Ostate = #{ostate}
    </select>
    <select id="queryAllOrder" resultType="Order">
        SELECT * FROM ordery
    </select>
     <select id="queryAllOrderByonum" resultType="Order">
        SELECT * FROM ordery where oNum = #{onum}
    </select>
    <select id="findOrderByID" parameterType="Order" resultType="Order">
    	SELECT * FROM ordery WHERE Oid = #{oId}
    </select>
    <select id="findOrdersByUidAndOstate" parameterType="Order" resultType="Order">
    	Select * from ordery where Uid = #{uid} and Ostate = #{ostate}
    </select>
    <select id="queryOnumByUidAndOstate" parameterType="Order" resultType="String">
   		Select DISTINCT Onum from ordery where Uid = #{uid} and Ostate = #{ostate}
    </select>
    <insert id="saveOrder" parameterType="Order">
    	INSERT INTO 
    	ordery(rId,oNum,Aid,Uid,Ostate,Odate,Osumprice) 
    	VALUES
    	(#{rid},#{onum},#{aid},#{uid},#{ostate},#{oDate},#{oSumprice})
    </insert>
    
    <delete id="deleteOrder" parameterType="Order">
         delete from ordery WHERE Oid = #{oId}
    </delete>
    
    <update id="modifyOrder" parameterType="Order">
          UPDATE ordery 
          SET rId = #{rid},oNum = #{onum},Aid = #{aid},
          Uid = #{uid},Ostate = #{ostate},Odate = #{oDate},Osumprice = #{oSumprice} 
          WHERE Oid = #{oId}
    </update>
    
    
    <select id="queryOrderByUidAndOstate" resultMap="orderAndDetail">
	SELECT ordery.Oid,ordery.oNum,ordery.rId,ordery.Aid,ordery.Uid,ordery.Ostate,ordery.Odate,ordery.Osumprice,
		record.reId,record.pId,record.pNum,record.rpicture,record.rprice,record.pDiscount,record.pSumprice,record.uid "record.uid",record.sid
	from ordery,record WHERE  ordery.rId=record.reId and ordery.Uid=#{uid} AND ordery.Ostate=#{ostate} GROUP BY ordery.oNum;
</select>
    <!-- 配置关联查询orders表的resultmap -->
    <resultMap type="org.ssm.farsh.model.Order" id="ordersMap">
      <id column="Oid" property="oId"/>    
      <result column="oNum" property="onum"/>
      <result column="rId" property="rid"/>
      <result column="Aid" property="aid"/>
      <result column="Uid" property="uid"/>
      <result column="Ostate" property="ostate"/>
      <result column="Odate" property="oDate"/>
      <result column="Osumprice" property="oSumprice"/>
    </resultMap>
    <resultMap type="org.ssm.farsh.model.Order" id="orderAndDetail" extends="ordersMap">
    	<collection property="records" ofType="org.ssm.farsh.model.Record">
    		<id column="reId" property="reId"/>    
      		<result column="pId" property="pId"/>
      		<result column="pNum" property="pNum"/>
      		<result column="rpicture" property="rPicture"/>
      		<result column="rprice" property="rprice"/>
      		<result column="pDiscount" property="pDiscount"/>
      		<result column="pSumprice" property="pSumprice"/>
      		<result column="uid" property="uid"/>
      		<result column="sid" property="sid"/>
    	</collection>
    </resultMap>
</mapper>