<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssm.farsh.dao.ProductDao">
	<select id="queryAllProductByPage" resultType="Product">
        select * from product limit #{startPos},#{pageSize}
    </select>
    <select id="queryAllProductByPname" resultType="Product">
        select * from product where Pname = #{pname} limit #{startPos},#{pageSize}
    </select>
    <select id="queryAllProductByPcategory" resultType="Product">
        select * from product where Pcategory = #{pcategory} limit #{startPos},#{pageSize}
    </select>
    <select id="queryAllProduct" resultType="Product">
        select * from product
    </select>
    <select id="getProductCount" resultType="long">
    	select count(*) from product
    </select>
    <select id="getProductByPnameCount" resultType="long">
    	select count(*) from product where Pname = #{pname}
    </select>
    <select id="getProductByPcategoryCount" resultType="long">
    	select count(*) from product where Pcategory = #{pcategory}
    </select>
    <select id="findProductByID" parameterType="Product" resultType="Product">
    	SELECT * FROM product WHERE Pid = #{pId}
    </select>
    <insert id="saveProduct" parameterType="Product">
    	INSERT INTO 
    	product(Pname,Price,Picture,Psalenum,Pstock,Pdiscount,Pattern,Pubdate,Pcategory) 
    	VALUES
    	(#{pname},#{price},#{picture},#{psalenum},#{pstock},#{pdiscount},#{pattern},#{pubdate},#{pcategory})
    </insert>
    <delete id="deleteProduct" parameterType="Product">
         delete from product WHERE Pid = #{pId}
    </delete>
    <update id="modifyProduct" parameterType="Product">
          UPDATE Product 
          SET Pname = #{pname},Price = #{price},Picture = #{picture},
          Psalenum = #{psalenum},Pstock = #{pstock},Pdiscount = #{pdiscount},
          Pattern = #{pattern},Pubdate = #{pubdate},Pcategory = #{pcategory} 
          WHERE Pid = #{pId}
    </update>
</mapper>