<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssm.farsh.dao.ScartDao">
	<insert id="saveScart" parameterType="Scart">
		INSERT INTO 
		scart(amount,uid,pid,sprice,spicture,sname,sdate,sumprice)
		VALUES
		(#{amount},#{uid},#{pid},#{sprice},#{spicture},#{sname},#{sdate},#{sumprice})
	</insert>
	<delete id="delete" parameterType="Scart">
		delete from scart where sid=#{sId}
	</delete>
	<update id="modify" parameterType="Scart">
		update scart
		set amount=#{amount},uid=#{uid},pid=#{pid},sprice=#{sprice},spicture=#{spicture},
		sname=#{sname},sdate=#{sdate},sumprice=#{sumprice}
		where sid=#{sId}
	</update>
	<select id="findScartbyuid" parameterType="Scart" resultType="Scart">
		select * from scart where uid=#{uid}
	</select>
	<select id="findScartbySid" parameterType="Scart" resultType="Scart">
		select * from scart where sid=#{sId}
	</select>
	<select id="findScartbyPid" parameterType="Scart" resultType="Scart">
		select * from scart where pid=#{pid}
	</select>
	<select id="queryAllScarts" resultType="Scart">
	 	SELECT * FROM scart
	</select>

</mapper>